<!-- Related items section-->
<section class="py-1 bg-light">
  <div class="container px-4 px-lg-5 justify-content-center mt-4">
    <div class="row gx-4 gx-lg-5">
      <div class="col-10">
        <h2 class="fw-bolder mb-4">{{ p_title }}</h2>
      </div>
      <div class="col-2">
        <div class="badge bg-secondary fs-6 rounded-pill">{{p_type}}</div>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
      <div class="col-8">
        <div class="card mb-3 shadow" style="max-width: 60vw;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/{{ p_img }}" class="rounded-start" height="100%" width="100%" alt="{{ p_img }}">
            </div>
            <div class="col-md-8">
              <div class="card-body p-3 mt-2">
                <div class="hstack">
                  <h1 class="card-title">{{ p_title }}</h1>
                </div>
                <p class="card-text text-primary">Rating: {{ p_rating }}.0</p>
                <p class="card-text mb-4">{{ p_description}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <div class="d-flex justify-content-end mt-5 py-5 me-4">
                <input class="form-control text-center me-3 rounded-pill" id="inputQuantity" type="num"
                  style="max-width: 5rem;"></input>
                <button id="quantity" class="btn btn-outline-dark flex-shrink-0 rounded-pill" type="button">
                  <i class="bi-cart-fill me-1"></i>
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>