<!-- Product section-->
<section class="py-1 bg-light">
  <div class="container px-4 px-lg-5 my-4">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-4">
        {{!-- <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
        --}}
        <img class="card-img-top mb-5 mb-md-0" src="assets/images/{{ p_img }}" height="500" width="400" alt="..." />
      </div>
      <div class="col-md-8">
        <sub class="small mb-1 badge bg-primary text-capitalize">Rating: {{ p_rating }}</sub>
        <sub class="small mb-1 badge bg-info text-uppercase">{{ p_type }}</sub>
        <sub class="small mb-1 badge bg-secondary text-uppercase">today sale</sub>
        <h1 class="display-5 fw-bolder">{{ p_title }}</h1>
        <div class="fs-5 mb-4">
          <span class="text-decoration-line-through">₹25.00 <i class="bi-tag fs-3 text-warning"></i></span>
          <span>₹{{ p_price }}</span>
        </div>
        <p class="lead">{{ p_description }}</p>
        <span id="notification"></span>
        <div class="hstack gap-2">
          {{!-- <button class="me-3" onclick="increment()">+</button>
          <button class="me-3" onclick="decrement()">-</button> --}}
          <form class="hstack gap-2" action="/cartsave" method="post">
            <input type="hidden" name="p_title" value="{{ p_title }}">
            <input type="hidden" name="p_price" value="{{ p_price }}">
            <input class="form-control text-center rounded-pill" name="today_Sale" id="inputQuantity" type="num"
              style="max-width: 5rem;"></input>
            <button id="quantity" class="btn btn-outline-dark flex-shrink-0 rounded-pill" type="submit">
              <i class="bi-cart-fill me-1"></i>
              Add to cart
            </button>
          </form>
          <a href="/product/{{ p_id }}" class="btn btn-outline-primary rounded-pill">Explore</a>
        </div>
      </div>
    </div>
  </div>
</section>